.navbar {
    background-color: black;
    color: orange;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    color: orange;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 10px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-menu li :hover {
    background-color: orange;
    color: black;
  }

  
.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto ;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    
    background-color: transparent;
    margin-right: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .search-bar button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin-left: auto;
  }
  
  .search-bar button i {
    margin-left: auto;
    color: orange;
  }

  .navbar-icons {
    display: flex;
  }
  
  .navbar-icons button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
  }
  
  .navbar-icons button svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  
  .navbar-icons button:hover svg {
    fill: orange;
  }


  .cart-count {
    background-color: orange;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: -5px;
  }