.main_content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}

.AdminSideBar {
  width: 250px;
  margin-left: 0px;
  height: 700px;
  display: flex;
  border: 1px solid gainsboro;
  background-color: black;
  position: absolute;
}
.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.mebuy a{
  color: black;
  margin-right: 50%
}
.mebuy a:hover
{
  color: orange;
}
.rows .item {
  margin-right: 12%;
  margin-left: 12%;
}
.AdminNavbar {
  width: 100%;
  height: 50px;
  border: 1px solid gainsboro;
  background-color: #f7f8f7;
  display: flex;
  flex-direction: row;
  /* position:relative; */
}

.AdminNavbar > div {
  text-align: center;
  align-items: center;

  /* border: 1px solid wheat; */
  font-size: 18px;
  font-weight: bold;
  padding: 20;
  margin-left: 10%;
  /* margin: auto; */
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  gap: 30px;
}
.SidebarList a
{
  color: white;
  font-weight: bold;
}